---
layout: default
title: Home
---

<h1>Western Kentucky Developers User Group</h1>

<div class="message">
  The Western Kentucky Developers User Group is a group for people in the Western Kentucky area
  to get together and share and discuss ideas around software development. We meet the second
  Monday of every month between September and December, and between February and May.
  Please view the <a href="/about/">about page</a> for more information.
  <!--or the
  <a href="/meetings/">meetings page</a> to see upcoming meeting dates.
  -->
</div>

<h2>November 12th Meeting</h2>

<p>
  We'll be having our monthly meeting next week on November 12th at 6pm. It will be in room 552 of the Business Building on Murray State's campus. Duane Dycus will be speaking on "Life As A Security Analyst." Duane is a senior security analyst at Murray State, and I'm sure he'll have lots of interesting things to share.
</p>

<p>
  We'll provide pizza and drinks as usual. Looking forward to seeing you there.
</p>

{% comment %}
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="/">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endcomment %}
